<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/master.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="context">
        <div class="container">

        <a href="#" th:href="@{'/author/?lang=us'}">US</a>| <a href="#" th:href="@{'/author/?lang=de'}">Myanmar</a>|
        <a href="#" th:href="@{'/author/?lang=fr'}">France</a>| <a href="#" th:href="@{'/author/?lang=ja'}">Japanese</a>


        <form action="#" th:action="@{/author}" th:object="${author}" method="post">
            <div class="form-group">
                <label for="name" th:text="#{author.name}">Name</label>
                <input type="text" th:field="*{name}" id="name" class="form-control">
                <small th:if="${#fields.errors('name')}"
                th:errors="*{name}" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="date" th:text="#{author.dateOfBirth}">Date Of Birth</label>
                <input type="date" th:field="*{dateOfBirth}" id="date" class="form-control">
                <small th:if="${#fields.errors('dateOfBirth')}"
                       th:errors="*{dateOfBirth}" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="interested">Interested</label>
                <input type="text" th:field="*{interested}" id="interested" class="form-control">
                <small th:if="${#fields.errors('interested')}"
                       th:errors="*{interested}" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select name="gender" th:field="*{gender}" id="gender" class="from-control">
                    <option th:each="gen: ${T(com.example.demo.model.Gender).values()}"
                        th:value="${{gen}}" th:text="${gen}">
                    </option>
                </select>
            </div>


            <button class="btn btn-primary" type="submit" >Submit</button>
        </form>
        </div>
    </div>

</body>
</html>